.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(222, 222, 222);
    z-index: 99;
}
.leftwing{
    display: flex;
    align-items: center;  
}
.hamburger-menu{
    height: 24px;
    margin-left: 20px;
}
.youtube-logo{
    height: 20px;
    margin-left: 23px;
    cursor: pointer;
}
.searchbar{
    width: 0;
    flex: 1;
    height: 36px;
    font-size: 18px;
    padding-left: 12px;
    color: darkslategrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.searchbar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 64px;
    background-color: rgb(248, 248, 248);
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -1px;
    margin-right: 16px;
    cursor: pointer;
}
.search-button:hover, .voice-button:hover{
    background-color: rgb(238, 238, 238);
}
.search-button:active, .voice-button:active{
    background-color: rgb(222, 222, 222);
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.voice{
    height: 24px;
    margin-top: 3px;
}
.search{
    height: 25px;
    margin-top: 4px;
}
.center{
    display: flex;
    align-items: center;
    flex: 100vw;
    margin-left: 69px;
    margin-right: 35px;
    max-width: 550px;
}
.rightwing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 22px;
    flex-shrink: 0;
}
.upload, .apps{
    height: 24px;
    cursor: pointer;
}
.user{
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.notifications{
    height: 24px;
    cursor: pointer;
    padding-top: 4px;
}